{{> privateNav}}
{{> carousel}}
<div class="flex flex-wrap">

    {{#each response}}
    <div class="game-card bg-white flex-auto sm:flex-auto md:w-1/4 px-2 rounded my-4 mx-4 orange-border-bottom h-auto">
        <div class="bg-white max-w-sm w-full lg:max-w-full lg:flex ">
            <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <form action="/profile/{{game_id}}" method="POST">
                    <div class="mb-8">
                        <div class="text-gray-900 font-bold mb-2 game-name">{{game_name}}</div>
                        <input type="hidden" value={{favourite_game}} name="favourite_game">
                        <input type="hidden" value={{game_id}} name="game_id">
                        {{#if favourite_game}}
                        <button type="submit"
                            class="buttons green-background-colour text-white font-bold py-2 px-4 rounded"
                            style="width: 100%">
                            Unfavourite Game
                        </button>
                        {{else}}
                        <button type="submit"
                            class="buttons dark-blue-background-colour text-white font-bold py-2 px-4 rounded"
                            style="width: 100%">
                            Favourite Game
                        </button>
                        {{/if}}
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>
{{> footer }}